*
{
    margin:0px;
    background-color: #1f293748;
    padding:0;
}

body{
margin-right:15%;
margin-left: 15%;
}

.part{
    padding-right:10% ;
    padding-left: 10%;
}

.header,
.top{
    background-color: #1F2937;
}

.header{
    display:flex;
    justify-content: space-between;
}

.logo{
    padding-top:2.38vh ;
}

.links{
    display:flex;
    justify-content: space-between;
}

.main{
    color: #F9FAF8;
    padding-top: 2.38vh;
    padding-left: 2.38vh;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.middle-one,
.middle-three{
    background-color:#F9FAF8;
}

.logo{
    font-size:2.85vh;
}

.logo,
h1{
    color:#F9FAF8;
}

.links,
.left p
{   
    font-size: 2.14vh;
    color:#E5E7EB
}

.top{
    display: flex;
    padding-top: 11.9vh;
    padding-bottom: 11.9vh;
    justify-content: space-between;
}

.left{
    width: 59.52vh;
    height: auto;
}

h1{
    font-size: 5.7vh;
    font-weight: 800;
}

button{
    color:#F9FAF8;
    font-weight: bold;
    padding:0.595vh 1.785vh;
    border-radius: 0.595vh;
    border:0px;
    margin-top: 1.19vh;
}



button,
.subscription{
    background-color:#3882F6;
}

.big-picture{
    height:26vh ;
    width: 58vh;
}

h2{
    font-size:4.285vh;
    font-weight: 800;
    color:#1F2937;
    text-align: center;
    padding:4.76vh;
}

h2,
.images,
.images div,
.small{
    background-color: #F9FAF8;}

.images{
    display:flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 8.3vh;
}

.images div{
    margin:2.38vh;
}

.small-picture{
    border-radius: 0.595vh;
    width: 20.8vh;
    height: 20.8vh;
}

.small{
    width: 20.8vh
    height: auto;
}

.quote{
    background-color: #E5E7EB;
    font-size:4.285px;
    font-style: italic;
    font-weight: light;
    color:#1F2937
}
