/*< ! -- vh ratio used: px/8.4
vw ratio used: px/19.7 -- > */


*
{
    margin:0px;
    background-color:#1f293748;
    padding:0;
}

body{
margin-right:15%;
margin-left: 15%;
}

.part{
    padding-right:10% ;
    padding-left: 10%;
}

.header,
.top{
    background-color: #1F2937;
}

.header{
    display:flex;
    justify-content: space-between;
}

.logo{
    padding-top:2.38vh ;
}

.links{
    display:flex;
    justify-content: space-between;
}

.main{
    color: #F9FAF8;
    padding-top: 2.38vh;
    padding-left: 1.0152vw;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.middle-one,
.middle-three{
    background-color:#F9FAF8;
}

.logo{
    font-size:2.85vh;
}

.logo,
h1{
    color:#F9FAF8;
}

.links,
.left p
{   
    font-size: 2.14vh;
    color:#E5E7EB
}

.top{
    display: flex;
    padding-top: 11.9vh;
    padding-bottom: 11.9vh;
    justify-content: space-between;
}

.left{
    width: 25.4vw;
    height: 26vh;
}

h1{
    font-size: 5.7vh;
    font-weight: 800;
}

button{
    color:#F9FAF8;
    font-weight: bold;
    padding:0.595vh 1.5vw;
    border-radius: 0.595vh;
    border:0px;
    margin-top: 1.5vh;
}

.big-picture{
    height:26vh ;
    width: 25.4vw;
}

h2{
    font-size:4.285vh;
    font-weight: 800;
    color:#1F2937;
    text-align: center;
    padding:4.76vh;
}

h2,
.images,
.images div,
.small{
    background-color: #F9FAF8;}

.images{
    display:flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 8.3vh;
}

.images div{
    margin:2.38vh;
}

.small-picture{
    border-radius: 0.595vh;
    width: 9.5vw;
    height: 20.8vh;
}

.small{
    width: 9.5vw;
    height: auto;
    font-size: 1.9vh;
}

.middle-two{
    padding:12vh;
    padding-left: 14vw;
    padding-right: 14vw;
}
.middle-two,
.quote,
.reference{
    background-color: #E5E7EB;
}
.quote{
    font-style: italic;
    font-size:4.285vh;
    font-weight:light;
    color:#1F2937;
    padding-bottom: 2vh;
}

.reference{
    font-weight: bold;
    text-align: right;
    font-size: 3.2vh;
}

.container,
.text,
.text p,
.button,
button{
    background-color: #3882F6;
}


.middle-three{
    padding-top: 6vh;
    padding-bottom:6vh ;
    padding-left:8vw ;
    padding-right: 8vw;
    }

.container{
    display:flex;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom:3vh ;
    padding-left:4vw ;
    padding-right: 4vw;
    box-align: center;
    }
    
.text p{
    color:#F9FAF8
}

.subscription{
    font-weight: bolder;
}

.border{
    border:0.4vh;
    border-style:solid;
    border-color: #F9FAF8;
    width: 7vw;
    margin-top:0px;
}